@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');


@layer utilities {

}

@layer base {
    body{
        @apply  dark:bg-green-900/5 bg-slate-600 transition-all font-montserrat
    }

    ::-webkit-scrollbar {
        @apply size-[10px]
    }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
        @apply bg-zinc-700

    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        @apply bg-zinc-500
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-green-50/50
    }
}

@layer components {

    .font-body {
        font-family: 'Protest Riot', sans-serif;
    }

}